* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Glacial Indifference', sans-serif;
}

.container {
    background: #f0f0f0;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    padding-left: 100px;
    padding: 50px 30px;
    background: #0080FF;
}

.logo-container h1 {
    font-size: 50px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main-container {
    width: 50vw;
    height: 40vh;
    background-color: white;
    border-radius: 8px;
    position: relative;
    margin-top: 100px;
    box-shadow: 5px 5px 15px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .profile-pict {
    height: 200px;
    width: 200px;
    border: 5px solid white;
    position: absolute;
    border-radius: 50%;
    top: -100px;
    overflow: hidden;
    background: #f0f0f0;
    box-shadow: 5px 5px 18px gray;
}
.profile-pict img {
    width: 100%;
    height: 100%;
}

.title {
    margin-top: 75px;
}

.item1 {
    grid-area: kelas;
    width: 300px;
}
.item2 {grid-area: jam;}
.item3 {grid-area: hari;}
.item4 {grid-area: pesan;}

.item1, .item2, .item3, .item4 {
    height: 45px;
}

.grid-container {
    width: 50%;
    display: grid;
    gap: 10px;
    grid-template-areas: 'kelas kelas kelas' 'jam hari hari' 'pesan pesan pesan';
}

select, input {
    border-radius: 9px;
    text-align: center;
    border: 2.5px solid #0080FF;
    border-style: inset;
    color: #0080FF;
    font-size: 15px;
    font-weight: 1000;
    cursor: pointer;
}

.grid-container input[type=submit] {
    border: none;
    background: #0080FF;
    color: white;
}